@model List<ProyectoIdentity.Models.Domain.Notificacion>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-item" href="#" id="notificacionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-bell position-relative">
            @if (Model.Any())
            {
                <span id="cantidadNotificaciones" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    @Model.Count
                </span>
            }
        </i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" id="contenedorNotificaciones" aria-labelledby="notificacionesDropdown">
        @if (Model.Any())
        {
            @foreach (var notificacion in Model)
            {
                <li>
                    <a class="dropdown-item notificacion-item" href="#" data-id="@notificacion.NotificacionId">
                        @notificacion.Mensaje
                    </a>
                </li>
            }
        }
        else
        {
            <li><span class="dropdown-item text-muted">Sin notificaciones</span></li>
        }
    </ul>
</li>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



